html 
    p Enter the ISBN of the book you want to delete
    form(action='delBook', method='POST')
        p
        | ISBN 
        input(type='text', name='isbn', value='')
        input(type='submit', value='Delete')