html

    head
        a(href="/logout") Logout
        br
        br

    body
        -var temp_link = "/admin/book"
        a(href= temp_link) Change Book Information
        br
        -var temp_link = "/admin/view"
        a(href= temp_link) View