html
    script
        include ./script.js


    if first
        p Enter the Genre id
            form(action='/admin/view/genre', method='POST')
                p
                | Genre id: 
                input(type='text', name='id', value='5fd002de-4328-4e63-89a7-bf6cbf6b9b57')
                input(type='submit', value='submit')
    else
        p= "For Genre '"+name+"': "
        p= "Total Expenditure: "+expenditure
        p= "Total Sales: "+sales

